### Linear regression model V9
with REDUCED number of one-hot encoded date features

In [1]:
fileprefix='./lateness_PREP_V7_'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_X=pd.read_csv(fileprefix+'X.csv', sep='\t')

In [4]:
df_X.shape

(125675, 216)

In [5]:
df_y=pd.read_csv(fileprefix+'y.csv', sep='\t', header=None)

In [6]:
type(df_y)
df_y.shape

(125675, 2)

In [7]:
df_y.head()

   0      1
0  5 -497.0
1  6    5.0
2  7 -313.0
3  8 -296.0
4  9 -166.0

In [8]:
y=df_y[1]
y.head()

0   -497.0
1      5.0
2   -313.0
3   -296.0
4   -166.0
Name: 1, dtype: float64

In [9]:
y.shape

(125675,)

In [10]:
df_X.head()

,Unnamed: 0,claimed_at_pdt_month_2.0,lead_organizer_created_at_pdt_quarter,scheduled_starts_at_pdt_month_6,scheduled_starts_at_pdt_month_6.1,scheduled_starts_at_pdt_hour_19,scheduled_starts_at_pdt_hour_19.1,claimed_at_pdt_month_11.0,claimed_at_pdt_day,destination_lat,...,scheduled_starts_at_pdt_hour_3,scheduled_starts_at_pdt_hour_3.1,claimed_at_pdt_hour_19.0,scheduled_starts_at_pdt_quarter_4,scheduled_starts_at_pdt_quarter_4.1,claimed_at_pdt_month_10.0,scheduled_starts_at_pdt_month,org_signup_before_trip_created_secs,scheduled_starts_at_pdt_weekday_6,scheduled_starts_at_pdt_weekday_6.1
0,5,1,3,0,0,0,0,0,7.0,34.18,...,0,0,1,0,0,0,2,18754828.0,0,0
1,6,0,3,0,0,0,0,0,17.0,34.10,...,0,0,0,0,0,0,1,16683716.0,0,0
2,7,1,3,0,0,0,0,0,5.0,34.16,...,0,0,0,0,0,0,2,18750712.0,0,0
3,8,0,3,0,0,0,0,0,25.0,34.17,...,0,0,0,0,0,0,1,17785068.0,0,0
4,9,0,3,0,0,0,0,0,16.0,34.12,...,0,0,0,0,0,0,1,7921943.0,0,0

In [11]:
y.describe().round()

count    125675.0
mean       -416.0
std         509.0
min       -1800.0
25%        -657.0
50%        -324.0
75%         -96.0
max        1800.0
Name: 1, dtype: float64

In [12]:
# break df_X,y into test and train sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_X, y, test_size=0.20, random_state=808)

In [13]:
for i in X_train, X_test, y_train, y_test:
    print(i.shape)

(100540, 216)
(25135, 216)
(100540,)
(25135,)

In [14]:
# select a linear model
import sklearn.linear_model
model=sklearn.linear_model.LinearRegression(normalize=True)

In [15]:
# fit model
model=model.fit(X_train,y_train)

In [16]:
model.coef_

array([-6.98006406e-06,  1.17765119e+14, -4.56598300e+00,  1.50402871e+14,
        6.82306122e+14,  1.01212869e+15, -2.29846638e+15,  1.71056279e+14,
        1.24118905e+05,  1.24020907e+01, -6.86758902e+00,  2.38070911e+14,
       -2.57264831e+14,  2.76106908e+14,  2.30130737e+01, -1.55897492e+01,
       -2.13781618e+14, -9.38751568e+14, -1.40812735e+15,  4.64270695e-01,
       -6.95498395e+14, -3.20031363e+14, -1.12650188e+15,  6.41344854e+14,
       -1.34492372e+01, -8.57305152e+14, -8.53023401e+13, -8.92037317e+14,
        2.25107397e+14, -8.44876412e+14, -1.01698476e+14, -4.40375323e+14,
        4.79817832e+08, -1.22037704e+15,  2.35530237e+14, -1.45392636e+15,
        6.40815666e+14, -6.10511124e+14, -7.52608736e+13,  3.65344262e-03,
       -1.68975282e+15,  2.11208665e+01,  2.24915026e+01, -1.44531880e+16,
        1.41823801e+16, -6.57126098e+14, -4.31056110e+00,  4.18026820e-02,
       -3.11510358e+12,  1.79800787e+13,  1.16022064e+00, -1.19156041e+00,
       -2.22169237e+15,  1.47697055e+15,  1.54686441e+02,  8.06729866e+02,
        7.33124940e+02,  3.08058381e+01, -1.31425220e+15,  2.88821398e+14,
        2.92382172e+14, -1.03262673e+15, -1.33111927e+00, -1.97137829e+15,
        1.35374459e+13,  6.26086771e-01, -2.72362147e+13, -2.71872445e+13,
        3.68285077e+00,  8.88180216e+06,  5.12730693e+13, -5.25186956e+14,
        1.79435098e+13, -1.13173943e+15,  5.90123562e+14, -2.25298857e+14,
        4.39207914e+00,  1.40610078e-01,  1.28268971e+15, -7.97143296e+00,
        7.96845669e-01, -1.90364106e+15,  1.02351527e+15, -2.91063504e-04,
        1.83116779e-03,  6.46774149e+13, -1.01250519e+15, -1.20020363e-02,
        6.97903621e+14, -1.59587767e+15, -2.06525345e+15, -3.66858241e+15,
        2.31454273e+15, -6.82312800e+01, -1.83460882e-01,  5.80138503e+14,
       -1.17765115e+14, -1.39694333e+14, -8.21755236e+14, -1.22605200e+15,
       -3.31093632e+14,  8.55126472e+14,  9.05778741e+13, -1.60885554e+13,
       -1.57240805e+15,  1.50666389e+14, -2.15912861e+15, -5.63250941e+14,
        4.94437393e-02, -1.62976599e+06, -4.21664188e+14, -5.03992751e+14,
       -1.99704720e+00,  8.47899764e+13, -8.17245374e+14,  2.00004259e+14,
       -6.06216162e+14,  4.27563236e+14,  8.77490051e+13, -5.57394217e+13,
        1.01429051e-03, -2.90721851e+00,  5.49755400e+13,  7.41940822e+14,
        6.71881968e+00,  1.44498928e-01, -5.73387181e+05,  5.28161341e+14,
        2.85705574e+14,  8.14415544e+04,  4.02763594e+14, -1.48691119e+15,
        2.90170734e+00, -1.23779781e+05, -2.81625471e+14,  6.77019839e+13,
       -2.04494347e+02,  4.72280071e+08,  2.57636133e+14, -6.87120927e+14,
       -1.25302879e+14,  1.88191592e+16, -1.68813573e+16, -3.61670868e-03,
       -3.95031256e+14, -1.09441239e+15,  1.06890809e+15, -3.72328811e-01,
       -9.38751568e+13,  2.13112565e+00, -8.19129963e+04, -3.56880671e+06,
        2.29795185e+01,  1.23089159e+01, -2.75458497e+01,  4.04764981e+01,
       -4.83386639e+08, -3.24043935e+14, -3.24043909e+14, -1.50200251e+15,
       -6.36105160e-05, -3.02797025e-01,  2.56171924e+14,  2.13781618e+14,
       -4.69375784e+14,  8.15668740e+14, -2.95579386e+14, -7.87652355e+14,
       -6.29185689e+01,  2.55110948e+12,  2.01360163e+14, -8.78380001e+14,
       -1.68412120e+14, -1.70097799e+14, -1.73397034e+01,  1.33350192e-04,
       -1.87750314e+14, -3.68322946e+06,  4.08292725e+14,  4.08292725e+14,
        1.27363335e+07, -3.44006661e+14, -2.65311193e+14, -5.54568804e+14,
       -6.64066905e+14, -1.60485402e+01, -4.41348213e+13, -2.26902078e+14,
       -7.57805397e+00, -1.87750314e+15,  9.38751568e+13,  2.08342993e+14,
        1.02857167e+01, -1.54566634e+15,  1.90481842e+14, -5.61796135e+14,
       -5.89137590e+14,  1.98975738e+13, -4.64914058e+14, -3.75500627e+14,
       -1.54582651e+01,  2.11689553e+14,  0.00000000e+00,  0.00000000e+00,
       -7.51001255e+14,  1.11655757e+01, -1.01552976e+14, -1.01552976e+14,
       -1.78362798e+15,  5.80253517e+14,  5.80253517e+14,  5.32911607e+13,
        1.98975738e+13, -3.85453130e+06, -8.13110698e+14, -8.13110698e+14])

In [17]:
pd.Series(model.coef_).astype(int)

0                     0
1       117765118679326
2                    -4
3       150402870770411
4       682306121614365
5      1012128688782244
6     -2298466382023240
7       171056279370881
8                124118
9                    12
10                   -6
11      238070911406720
12     -257264830866386
13      276106907653522
14                   23
15                  -15
16     -213781617931338
17     -938751568491299
18    -1408127352736958
19                    0
20     -695498395106504
21     -320031362715329
22    -1126501882189583
23      641344853794023
24                  -13
25     -857305152028123
26      -85302340071230
27     -892037317424268
28      225107396636210
29     -844876411642155
             ...
186     -44134821266552
187    -226902078032182
188                  -7
189   -1877503136982645
190      93875156849145
191     208342992811791
192                  10
193   -1545666338972348
194     190481842478803
195    -561796135179843
196    -589137590351561
197      19897573847586
198    -464914058457252
199    -375500627396577
200                 -15
201     211689552715016
202                   0
203                   0
204    -751001254793067
205                  11
206    -101552975782223
207    -101552975782287
208   -1783627980133510
209     580253516821898
210     580253516821898
211      53291160691601
212      19897573847586
213            -3854531
214    -813110697896193
215    -813110697896187
Length: 216, dtype: int64

In [18]:
model.intercept_

-139853992874615.69

In [19]:
X_train.std()

Unnamed: 0                               6.259357e+04
claimed_at_pdt_month_2.0                 2.673082e-01
lead_organizer_created_at_pdt_quarter    8.076552e-01
scheduled_starts_at_pdt_month_6          2.505018e-01
scheduled_starts_at_pdt_month_6.1        2.505018e-01
scheduled_starts_at_pdt_hour_19          1.239060e-01
scheduled_starts_at_pdt_hour_19.1        1.239060e-01
claimed_at_pdt_month_11.0                3.060840e-01
claimed_at_pdt_day                       8.788468e+00
destination_lat                          1.466265e+00
created_at_pdt_day                       8.901218e+00
claimed_at_pdt_quarter                   1.146429e+00
scheduled_starts_at_pdt_month_2          2.649988e-01
scheduled_starts_at_pdt_month_2.1        2.649988e-01
shuttle_int                              9.784898e-02
carpool_int                              1.312920e-01
claimed_at_pdt_weekday                   2.004019e+00
claimed_at_pdt_hour_10.0                 1.934523e-01
claimed_at_pdt_hour_15.0                 2.108209e-01
lead_organizer_created_at_pdt_hour       4.782270e+00
scheduled_starts_at_pdt_hour_15          4.296977e-01
scheduled_starts_at_pdt_hour_15.1        4.296977e-01
claimed_at_pdt_hour_12.0                 3.633633e-01
claimed_at_pdt_weekday_3.0               3.603760e-01
trip_est_duration_secs                   7.517752e+02
scheduled_starts_at_pdt_month_11         3.080142e-01
scheduled_starts_at_pdt_month_11.1       3.080142e-01
scheduled_starts_at_pdt_month_8          2.531971e-01
scheduled_starts_at_pdt_month_8.1        2.531971e-01
claimed_at_pdt_hour_9.0                  2.171226e-01
                                             ...
scheduled_starts_at_pdt_weekday_1        4.133796e-01
scheduled_starts_at_pdt_weekday_1.1      4.133796e-01
is_repeating_ride_int                    4.761031e-01
claimed_at_pdt_hour_20.0                 1.981037e-01
claimed_at_pdt_hour                      5.783854e+00
claimed_at_pdt_month_9.0                 3.203381e-01
route_legs_count                         2.796359e-01
scheduled_starts_at_pdt_weekday_5        6.697323e-02
scheduled_starts_at_pdt_weekday_5.1      6.697323e-02
scheduled_starts_at_pdt_hour_17          2.635451e-01
scheduled_starts_at_pdt_hour_17.1        2.635451e-01
scheduled_ends_at_pdt_month              3.471655e+00
claimed_at_pdt_quarter_2.0               4.168190e-01
claimed_at_pdt_hour_4.0                  8.196218e-02
coupon_consumed                          7.915962e-02
scheduled_ends_at_pdt_quarter            1.150273e+00
scheduled_starts_at_pdt_hour_2           0.000000e+00
scheduled_starts_at_pdt_hour_2.1         0.000000e+00
claimed_at_pdt_hour_8.0                  2.012094e-01
organizers_count                         1.717336e-01
scheduled_starts_at_pdt_hour_3           3.153774e-03
scheduled_starts_at_pdt_hour_3.1         3.153774e-03
claimed_at_pdt_hour_19.0                 2.364087e-01
scheduled_starts_at_pdt_quarter_4        4.611651e-01
scheduled_starts_at_pdt_quarter_4.1      4.611651e-01
claimed_at_pdt_month_10.0                3.337243e-01
scheduled_starts_at_pdt_month            3.471655e+00
org_signup_before_trip_created_secs      1.294888e+07
scheduled_starts_at_pdt_weekday_6        4.839254e-02
scheduled_starts_at_pdt_weekday_6.1      4.839254e-02
Length: 216, dtype: float64

In [20]:
# normalize the linear model coefficients by the standard deviation to see which features are most important
(model.coef_/X_train.std()).sort_values(axis=0).replace([np.inf, -np.inf], np.nan).dropna().astype(int)

scheduled_starts_at_pdt_hour_4        -707289187004427392
scheduled_starts_at_pdt_hour_23        -68733792169853384
scheduled_starts_at_pdt_hour_20        -41419596993651440
scheduled_starts_at_pdt_hour_3.1       -32200461374739920
scheduled_starts_at_pdt_hour_3         -32200461374719628
scheduled_starts_at_pdt_hour_22.1      -29886369882305264
scheduled_starts_at_pdt_hour_21        -25072429993960736
scheduled_starts_at_pdt_weekday_5      -23078869593689108
scheduled_starts_at_pdt_hour_11        -19474324563416432
scheduled_starts_at_pdt_hour_23.1      -18561464708359304
scheduled_starts_at_pdt_hour_19.1      -18550075206673488
claimed_at_pdt_hour_23.0               -16968795849946328
scheduled_starts_at_pdt_weekday_6      -16802398026197068
scheduled_starts_at_pdt_weekday_6.1    -16802398026196938
claimed_at_pdt_hour_22.0               -12312744376541214
scheduled_starts_at_pdt_hour_22        -10787569991943338
claimed_at_pdt_hour_21.0               -10498096239173984
claimed_at_pdt_hour_20.0                -9477377353970502
scheduled_starts_at_pdt_hour_13         -8509624941899272
scheduled_starts_at_pdt_hour_10.1       -8101822971056585
claimed_at_pdt_hour_18.0                -7635487421081426
claimed_at_pdt_hour_19.0                -7544680946535575
claimed_at_pdt_hour_17.0                -6980275507768386
claimed_at_pdt_hour_15.0                -6679259610831299
claimed_at_pdt_hour_14.0                -6227030490578273
claimed_at_pdt_hour_16.0                -6221562169007764
claimed_at_pdt_hour_13.0                -5701573142744171
claimed_at_pdt_hour_11.0                -5200472615333124
scheduled_starts_at_pdt_hour_8          -5079904436383489
claimed_at_pdt_hour_10.0                -4852625321225995
                                              ...
scheduled_starts_at_pdt_quarter_3         969862497682822
scheduled_starts_at_pdt_quarter_3.1       969862497682822
scheduled_starts_at_pdt_month_5.1         981894995925282
scheduled_starts_at_pdt_month_2.1        1041917598759113
scheduled_starts_at_pdt_weekday_4        1104474972169819
claimed_at_pdt_weekday_2.0               1136179706387225
claimed_at_pdt_month_12.0                1173911987368802
scheduled_starts_at_pdt_quarter_4        1258233673716223
scheduled_starts_at_pdt_quarter_4.1      1258233673716223
scheduled_starts_at_pdt_hour_6           1411113752523968
scheduled_starts_at_pdt_weekday_3.1      1545703249287982
claimed_at_pdt_weekday_3.0               1779654724750691
scheduled_starts_at_pdt_month_5          1815151766231372
scheduled_starts_at_pdt_hour_10          1857264954286923
claimed_at_pdt_month_4.0                 2227106468537362
scheduled_starts_at_pdt_hour_21.1        2402412326910798
claimed_at_pdt_month_5.0                 2436066781876659
scheduled_starts_at_pdt_hour_8.1         2648817576077042
scheduled_starts_at_pdt_month_6.1        2723756861838230
claimed_at_pdt_weekday_4.0               2826085603782621
scheduled_starts_at_pdt_weekday_5.1      2844149148940343
scheduled_starts_at_pdt_month_4.1        2973679086331085
claimed_at_pdt_month_6.0                 3423539812523432
claimed_at_pdt_weekday_6.0               3706089795065739
claimed_at_pdt_weekday_5.0               4559906852652878
scheduled_starts_at_pdt_hour_13.1        4575301111102187
scheduled_starts_at_pdt_hour_19          8168517687526752
scheduled_starts_at_pdt_hour_11.1       12946438594897848
scheduled_starts_at_pdt_hour_20.1       26132008642028048
scheduled_starts_at_pdt_hour_4.1       694036780389093120
Length: 212, dtype: int64

In [21]:
# score against TRAINING set
model.score(X_train,y_train)

0.048872336347142165

In [22]:
# score against TEST set
model.score(X_test,y_test)

0.04759446309068228

In [23]:
model_y_test_pred = model.predict(X_test)
model_y_test_pred.size

25135

In [24]:
type(model_y_test_pred)

numpy.ndarray

In [25]:
model_y_test_pred[:10]

array([-341.6875  , -482.09375 , -485.78125 , -553.875   , -527.59375 ,
       -444.203125, -321.015625, -452.25    , -535.265625, -360.140625])

In [26]:
pd.Series(model_y_test_pred).std()

112.24184598315682

In [27]:
pd.Series(model_y_test_pred).corr(y_test)

-0.01268815451684004

In [28]:
# regression metrics
from sklearn.metrics import explained_variance_score, mean_squared_error, r2_score, mean_absolute_error, median_absolute_error
from math import sqrt
print ("%.3f %.2f %.0f %.3f %.0f %.0f %.2f" % 
       (explained_variance_score(y_test, model_y_test_pred),
        sqrt(mean_squared_error(y_test, model_y_test_pred))/60, # sqrt of MSE in minutes
        mean_squared_error(y_test, model_y_test_pred), 
        r2_score(y_test, model_y_test_pred), 
        mean_absolute_error(y_test, model_y_test_pred), 
        median_absolute_error(y_test, model_y_test_pred),
        median_absolute_error(y_test, model_y_test_pred)/60 # MAE in minutes
       ))

0.048 8.33 249937 0.048 374 285 4.75

In [29]:
# make classifications from seconds late target
bins = np.array([0.0, 5*60, 15*60]) # 0 on-time, 1 almost on-time, 2 late, 3 extremely late
bins

array([  0., 300., 900.])

In [30]:
np.digitize(y_test, bins)[:10]

array([1, 1, 0, 0, 0, 1, 0, 0, 1, 0])

In [31]:
# materialize y_test_class array
# check to see how many trips are categorized as 0 on-time, 1 almost on-time, 2 late, 3 extremely late
y_test_class=np.digitize(y_test, bins)
unique, counts = np.unique(y_test_class, return_counts=True)
print(np.asarray((unique, counts)).T)

[[    0 21156]
 [    1  2939]
 [    2   892]
 [    3   148]]

In [32]:
# materialize model_y_pred_class
# check to see how many trips are categorized as 0 on-time, 1 almost on-time, 2 late, 3 extremely late
model_y_test_pred_class=np.digitize(model_y_test_pred, bins)
print(np.asarray(np.unique(model_y_test_pred_class, return_counts=True)).T)

[[    0 25129]
 [    1     6]]

In [33]:
from sklearn.metrics import classification_report
print(classification_report(y_test_class,model_y_test_pred_class))

             precision    recall  f1-score   support

          0       0.84      1.00      0.91     21156
          1       0.00      0.00      0.00      2939
          2       0.00      0.00      0.00       892
          3       0.00      0.00      0.00       148

avg / total       0.71      0.84      0.77     25135

/Applications/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [34]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test_class,model_y_test_pred_class,labels=[0,1,2,3]))

[[21152     4     0     0]
 [ 2939     0     0     0]
 [  890     2     0     0]
 [  148     0     0     0]]