## Trip Lab notebook PREP V8
Prepare dataset with numberic values, boolean values, duration features from dates, and date attributes.
Saturate the outlier y values to +/- 30 minutes. Create one-hot encoded features for some date features.
Reduce one-hot date features. Make date attributes integers.

Based on what is known before the driver starts driving, predict when the driver will arrive at the pick up location relative to the expected start time. What factors are most predictive of lateness?

In [1]:
import pandas as pd
import numpy as np

In [2]:
dateColNames=['canceled_at_pdt', 'claimed_at_pdt', 'departs_for_trip_at_pdt',
       'created_at_pdt', 'scheduled_starts_at_pdt', 'scheduled_ends_at_pdt',
       'origin_arrived_at_pdt', 'origin_departed_at_pdt',
       'destination_arrived_at_pdt', 'lead_organizer_created_at_pdt',
       'driver_created_at_pdt']

In [3]:
df=pd.read_csv('/Users/bob 2/Projects/TripsData2017.txt', sep='\t', parse_dates=dateColNames)

In [4]:
df.shape

(217348, 74)

In [5]:
list(df)

['id',
 'trip_state',
 'canceled_by',
 'canceled_at_pdt',
 'canceled_before_scheduled_start',
 'claimed_at_pdt',
 'driver_id',
 'lead_organizer_id',
 'creator_id',
 'carpool',
 'is_repeating_ride',
 'shuttle',
 'trip_template_id',
 'departs_for_trip_at_pdt',
 'time_anchor',
 'created_at_pdt',
 'scheduled_starts_at_pdt',
 'scheduled_ends_at_pdt',
 'origin_arrived_at_pdt',
 'origin_departed_at_pdt',
 'destination_arrived_at_pdt',
 'origin_location_id',
 'destination_location_id',
 'origin_region_id',
 'origin_analysis_metro_name',
 'destination_region_id',
 'destination_region_name',
 'origin_region_name',
 'origin_metro_area_name',
 'destination_metro_area_name',
 'destination_analysis_metro_name',
 'origin_lat',
 'origin_lon',
 'destination_lat',
 'destination_lon',
 'passengers_ids',
 'organizers_count',
 'passengers_count',
 'driver_home_lat',
 'driver_home_lon',
 'organizer_home_lat',
 'organizer_home_lon',
 'rating',
 'canceled_by_id',
 'route_legs_count',
 'start_waypoints_zipcodes',
 'end_waypoints_zipcodes',
 'total_predicted_distance_miles',
 'total_predicted_duration',
 'trip_paid_time',
 'is_affiliate',
 'lead_organizer_platform',
 'lead_organizer_app_version',
 'driver_platform',
 'driver_app_version',
 'driver_gender',
 'driver_fare_multiplier',
 'lead_organizer_created_at_pdt',
 'driver_created_at_pdt',
 'coupon',
 'coupon_consumed',
 'events',
 'has_cd_unclaimed_event',
 'driver_previous_completed_trips',
 'lead_organizer_previous_completed_trips',
 'commute_distance',
 'claimed_after_created',
 'is_unfilled_canceled',
 'is_cd_cancel',
 'is_same_day_ride',
 'trip_predicted_raw_fare',
 'predicted_driver_fare',
 'predicted_driver_fare_with_multiplier',
 'driver_has_driven_this_route_before']

In [6]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217348 entries, 0 to 217347
Columns: 74 entries, id to driver_has_driven_this_route_before
dtypes: bool(8), datetime64[ns](11), float64(29), int64(5), object(21)
memory usage: 111.1+ MB

In [7]:
df.info

<bound method DataFrame.info of             id trip_state canceled_by     canceled_at_pdt  \
0       367322   canceled    Employee 2017-03-08 13:18:55
1       492666   canceled    Employee 2017-09-11 09:09:43
2       527985   canceled    Employee 2017-09-27 14:02:52
3       415557   canceled    Employee 2017-05-22 13:47:32
4       317210   canceled    Employee 2017-01-18 10:14:22
5       338150   complete         NaN                 NaT
6       310958   complete         NaN                 NaT
7       338135   complete         NaN                 NaT
8       324615   complete         NaN                 NaT
9       247127   complete         NaN                 NaT
10      306833   complete         NaN                 NaT
11      436184   complete         NaN                 NaT
12      473473   complete         NaN                 NaT
13      354050   complete         NaN                 NaT
14      415507   complete         NaN                 NaT
15      416842   complete         NaN                 NaT
16      493287   canceled         NaN 2017-09-05 19:27:35
17      571122   complete         NaN                 NaT
18      368854   complete         NaN                 NaT
19      311378   canceled         NaN 2017-02-03 08:07:15
20      311386   canceled         NaN 2017-02-17 12:45:27
21      360999   canceled   Organizer 2017-03-07 16:38:42
22      527947   complete         NaN                 NaT
23      544136   complete         NaN                 NaT
24      498306   complete         NaN                 NaT
25      410148   complete         NaN                 NaT
26      469973   complete         NaN                 NaT
27      538266   complete         NaN                 NaT
28      532445   complete         NaN                 NaT
29      554732   canceled   Organizer 2017-10-26 04:03:32
...        ...        ...         ...                 ...
217318  598477   canceled   Organizer 2017-12-15 14:09:08
217319  598485   canceled   Organizer 2017-12-15 14:14:28
217320  578504   canceled   Organizer 2017-11-19 10:16:43
217321  578872   canceled   Organizer 2017-11-26 16:20:21
217322  586946   canceled   Organizer 2017-11-30 18:43:30
217323  584098   canceled   Organizer 2017-12-07 07:51:02
217324  584408   canceled   Organizer 2017-11-28 07:27:24
217325  586277   canceled   Organizer 2017-11-29 23:20:19
217326  585210   canceled   Organizer 2017-11-28 22:21:30
217327  585552   canceled   Organizer 2017-11-29 12:48:34
217328  595519   canceled   Organizer 2017-12-11 14:13:37
217329  591585   canceled   Organizer 2017-12-05 19:05:57
217330  589883   canceled   Organizer 2017-12-04 12:51:15
217331  600352   canceled   Organizer 2017-12-18 19:08:06
217332  594559   canceled   Organizer 2017-12-10 16:41:35
217333  593683   canceled   Organizer 2017-12-08 20:32:49
217334  593682   canceled   Organizer 2017-12-08 20:31:53
217335  594844   canceled   Organizer 2017-12-10 20:02:18
217336  598325   canceled   Organizer 2017-12-15 09:33:38
217337  601561   canceled   Organizer 2017-12-20 21:18:37
217338  361610   canceled         NaN 2017-03-02 21:15:17
217339  365353   canceled         NaN 2017-03-10 19:34:28
217340  388941   canceled         NaN 2017-04-16 18:17:37
217341  399956   canceled         NaN 2017-05-17 08:52:36
217342  421974   canceled         NaN 2017-06-08 06:40:27
217343  419833   canceled   Organizer 2017-06-07 16:55:25
217344  558581   canceled   Organizer 2017-10-28 22:25:20
217345  580499   canceled   Organizer 2017-11-24 08:50:17
217346  591432   canceled   Organizer 2017-12-07 08:42:41
217347  595949   canceled         NaN 2017-12-13 18:52:21

        canceled_before_scheduled_start      claimed_at_pdt  driver_id  \
0                                 18.68 2017-03-08 13:16:39    62908.0
1                                  0.84 2017-08-31 12:33:50    62930.0
2                                  1.07 2017-09-27 13:59:44    62930.0
3                                  7.47 2017-05-22 13:18:52    62930.0
4                                 95.76 2017-01-18 10:12:03    62966.0
5                                   NaN 2017-02-07 19:33:33    62969.0
6                                   NaN 2017-01-17 00:02:03    62969.0
7                                   NaN 2017-02-05 21:51:54    62969.0
8                                   NaN 2017-01-25 16:40:59    62969.0
9                                   NaN 2017-01-16 00:01:14    62969.0
10                                  NaN 2017-01-10 11:24:49    62969.0
11                                  NaN 2017-06-25 19:37:17    62970.0
12                                  NaN 2017-08-20 08:49:20    62970.0
13                                  NaN 2017-02-24 09:57:20    62970.0
14                                  NaN 2017-05-22 11:59:05    62970.0
15                                  NaN 2017-05-24 16:40:31    62970.0
16                                42.96 2017-08-31 22:58:08    62970.0
17                                  NaN 2017-11-09 09:20:50    62970.0
18                                  NaN 2017-03-12 09:31:13    62970.0
19                               175.13 2017-02-03 08:07:15    62970.0
20                               170.49 2017-02-17 12:45:27    62970.0
21                                46.10 2017-03-04 22:43:59    62970.0
22                                  NaN 2017-10-05 14:43:17    62970.0
23                                  NaN 2017-10-30 19:31:36    62970.0
24                                  NaN 2017-09-04 19:49:19    62970.0
25                                  NaN 2017-05-15 16:46:55    62970.0
26                                  NaN 2017-08-16 11:53:49    62970.0
27                                  NaN 2017-10-07 15:30:36    62970.0
28                                  NaN 2017-10-02 06:25:29    62970.0
29                                12.94 2017-10-24 17:04:31    62970.0
...                                 ...                 ...        ...
217318                            97.85                 NaT        NaN
217319                           121.76                 NaT        NaN
217320                           199.72                 NaT        NaN
217321                           207.16                 NaT        NaN
217322                            20.86                 NaT        NaN
217323                             6.57 2017-12-01 22:57:09        NaN
217324                             7.96                 NaT        NaN
217325                            16.08                 NaT        NaN
217326                            16.97                 NaT        NaN
217327                           123.69                 NaT        NaN
217328                            72.52                 NaT        NaN
217329                            45.90                 NaT        NaN
217330                            49.81                 NaT        NaN
217331                            62.36                 NaT        NaN
217332                            22.97                 NaT        NaN
217333                            66.24                 NaT        NaN
217334                            72.44                 NaT        NaN
217335                            71.71                 NaT        NaN
217336                            11.44                 NaT        NaN
217337                            42.94                 NaT        NaN
217338                            17.75                 NaT        NaN
217339                            66.68                 NaT        NaN
217340                            93.29                 NaT        NaN
217341                             6.29                 NaT        NaN
217342                             0.49                 NaT        NaN
217343                            21.77                 NaT        NaN
217344                           143.59                 NaT        NaN
217345                            78.41                 NaT        NaN
217346                           166.79                 NaT        NaN
217347                            52.88                 NaT        NaN

        lead_organizer_id  creator_id  carpool  \
0                   87303       87303    False
1                   78527       78527    False
2                   78527       78527    False
3                  131139      131139    False
4                  101326      101326    False
5                   81281       81281    False
6                   80068       80068    False
7                   87802       87802    False
8                   81561       81561    False
9                   76793       76793    False
10                 121481      121481    False
11                  81403       81403    False
12                 138235      138235    False
13                  82670       82670    False
14                  84718       84718    False
15                  84718       84718    False
16                 158125      158125    False
17                 161676      161676    False
18                  81403       81403    False
19                 106028      106028    False
20                 106028      106028    False
21                 131873      131873    False
22                  83627       83627    False
23                  83627       83627    False
24                 122614      122614    False
25                 134431      134431    False
26                 154492      154492    False
27                 153739      153739    False
28                 153739      153739    False
29                  88215       88215    False
...                   ...         ...      ...
217318             164267      164267    False
217319             164267      164267    False
217320              77413       77413    False
217321             159691      159691    False
217322             178769      178769    False
217323             158154      158154    False
217324             179176      179176    False
217325             179176      179176    False
217326             147285      147285    False
217327             176269      176269    False
217328              77595       77595    False
217329             179772      179772    False
217330             106146      106146    False
217331             161526      161526    False
217332             179862      179862    False
217333             179330      179330    False
217334             179330      179330    False
217335             145901      145901    False
217336             181653      181653    False
217337             106994      106994    False
217338              88785       88785    False
217339              77251       77251    False
217340             102114      102114    False
217341             133309      133309    False
217342             102653      102653    False
217343             142072      142072    False
217344             173932      173932    False
217345             176479      176479    False
217346             180258      180258    False
217347              80924       80924    False

                       ...                  \
0                      ...
1                      ...
2                      ...
3                      ...
4                      ...
5                      ...
6                      ...
7                      ...
8                      ...
9                      ...
10                     ...
11                     ...
12                     ...
13                     ...
14                     ...
15                     ...
16                     ...
17                     ...
18                     ...
19                     ...
20                     ...
21                     ...
22                     ...
23                     ...
24                     ...
25                     ...
26                     ...
27                     ...
28                     ...
29                     ...
...                    ...
217318                 ...
217319                 ...
217320                 ...
217321                 ...
217322                 ...
217323                 ...
217324                 ...
217325                 ...
217326                 ...
217327                 ...
217328                 ...
217329                 ...
217330                 ...
217331                 ...
217332                 ...
217333                 ...
217334                 ...
217335                 ...
217336                 ...
217337                 ...
217338                 ...
217339                 ...
217340                 ...
217341                 ...
217342                 ...
217343                 ...
217344                 ...
217345                 ...
217346                 ...
217347                 ...

        lead_organizer_previous_completed_trips  commute_distance  \
0                                             0               NaN
1                                             1               NaN
2                                             1               NaN
3                                             1               NaN
4                                             0               NaN
5                                             5               1.0
6                                            65               2.0
7                                            13               6.0
8                                            88               0.0
9                                            46              16.0
10                                            6               3.0
11                                          163               NaN
12                                            1               3.0
13                                          114               5.0
14                                          130               NaN
15                                          132               NaN
16                                           10               NaN
17                                            4              34.0
18                                          102               NaN
19                                            5               NaN
20                                            9               NaN
21                                            1               NaN
22                                          115               6.0
23                                          131               6.0
24                                           18              16.0
25                                            2               NaN
26                                            0               8.0
27                                           38               5.0
28                                           31               5.0
29                                            2               NaN
...                                         ...               ...
217318                                       52               NaN
217319                                       56               NaN
217320                                        0               NaN
217321                                        0               NaN
217322                                        5               NaN
217323                                        1               NaN
217324                                        0               NaN
217325                                        1               NaN
217326                                        2               NaN
217327                                        1               NaN
217328                                     1688               NaN
217329                                        2               NaN
217330                                        4               NaN
217331                                        9               NaN
217332                                        2               NaN
217333                                        9               NaN
217334                                       10               NaN
217335                                       12               NaN
217336                                        1               NaN
217337                                       20               NaN
217338                                        5               NaN
217339                                      102               NaN
217340                                       13               NaN
217341                                        4               NaN
217342                                      233               NaN
217343                                       11               NaN
217344                                        0               NaN
217345                                        0               NaN
217346                                        0               NaN
217347                                       23               NaN

        claimed_after_created is_unfilled_canceled is_cd_cancel  \
0                        0.72                False         True
1                       28.88                False         True
2                        0.20                False         True
3                        1.03                False         True
4                        0.25                False         True
5                     2753.65                False        False
6                     5867.40                False        False
7                       32.20                False        False
8                       22.28                False        False
9                   150534.13                False        False
10                      22.83                False        False
11                      96.80                False        False
12                      25.38                False        False
13                       1.97                False        False
14                       0.58                False        False
15                     234.88                False        False
16                       3.42                False         True
17                     252.62                False        False
18                    1287.35                False        False
19                   29738.30                False         True
20                   50176.50                False         True
21                    4570.88                False        False
22                   11624.67                False        False
23                   24489.22                False        False
24                       3.68                False        False
25                      16.98                False        False
26                       4.93                False        False
27                      30.23                False        False
28                     104.15                False        False
29                       4.02                False        False
...                       ...                  ...          ...
217318                    NaN                False        False
217319                    NaN                False        False
217320                    NaN                False        False
217321                    NaN                False        False
217322                    NaN                False        False
217323                5931.75                 True        False
217324                    NaN                False        False
217325                    NaN                False        False
217326                    NaN                False        False
217327                    NaN                False        False
217328                    NaN                False        False
217329                    NaN                False        False
217330                    NaN                False        False
217331                    NaN                False        False
217332                    NaN                False        False
217333                    NaN                False        False
217334                    NaN                False        False
217335                    NaN                False        False

#### columns_from_the_future must not be used in predictions but some are needed to label the data

In [8]:
columns_from_the_future = ['trip_state', 'canceled_by', 'canceled_at_pdt', 'canceled_before_scheduled_start', 'departs_for_trip_at_pdt', 'origin_arrived_at_pdt', 'origin_departed_at_pdt', 'destination_arrived_at_pdt', 'rating', 'trip_paid_time', 'driver_fare_multiplier', 'events', 'has_cd_unclaimed_event', 'is_unfilled_canceled', 'is_cd_cancel', 'canceled_by_id', 'commute_distance', 'predicted_driver_fare_with_multiplier']
print(columns_from_the_future)
print(len(columns_from_the_future))

['trip_state', 'canceled_by', 'canceled_at_pdt', 'canceled_before_scheduled_start', 'departs_for_trip_at_pdt', 'origin_arrived_at_pdt', 'origin_departed_at_pdt', 'destination_arrived_at_pdt', 'rating', 'trip_paid_time', 'driver_fare_multiplier', 'events', 'has_cd_unclaimed_event', 'is_unfilled_canceled', 'is_cd_cancel', 'canceled_by_id', 'commute_distance', 'predicted_driver_fare_with_multiplier']
18

In [9]:
list(df.select_dtypes(['object']).columns)

['trip_state',
 'canceled_by',
 'time_anchor',
 'origin_analysis_metro_name',
 'destination_region_name',
 'origin_region_name',
 'origin_metro_area_name',
 'destination_metro_area_name',
 'destination_analysis_metro_name',
 'passengers_ids',
 'rating',
 'start_waypoints_zipcodes',
 'end_waypoints_zipcodes',
 'lead_organizer_platform',
 'lead_organizer_app_version',
 'driver_platform',
 'driver_app_version',
 'driver_gender',
 'coupon',
 'events',
 'has_cd_unclaimed_event']

In [10]:
df.dtypes

id                                                  int64
trip_state                                         object
canceled_by                                        object
canceled_at_pdt                            datetime64[ns]
canceled_before_scheduled_start                   float64
claimed_at_pdt                             datetime64[ns]
driver_id                                         float64
lead_organizer_id                                   int64
creator_id                                          int64
carpool                                              bool
is_repeating_ride                                    bool
shuttle                                              bool
trip_template_id                                  float64
departs_for_trip_at_pdt                    datetime64[ns]
time_anchor                                        object
created_at_pdt                             datetime64[ns]
scheduled_starts_at_pdt                    datetime64[ns]
scheduled_ends_at_pdt                      datetime64[ns]
origin_arrived_at_pdt                      datetime64[ns]
origin_departed_at_pdt                     datetime64[ns]
destination_arrived_at_pdt                 datetime64[ns]
origin_location_id                                float64
destination_location_id                           float64
origin_region_id                                  float64
origin_analysis_metro_name                         object
destination_region_id                             float64
destination_region_name                            object
origin_region_name                                 object
origin_metro_area_name                             object
destination_metro_area_name                        object
                                                ...
route_legs_count                                    int64
start_waypoints_zipcodes                           object
end_waypoints_zipcodes                             object
total_predicted_distance_miles                    float64
total_predicted_duration                          float64
trip_paid_time                                    float64
is_affiliate                                         bool
lead_organizer_platform                            object
lead_organizer_app_version                         object
driver_platform                                    object
driver_app_version                                 object
driver_gender                                      object
driver_fare_multiplier                            float64
lead_organizer_created_at_pdt              datetime64[ns]
driver_created_at_pdt                      datetime64[ns]
coupon                                             object
coupon_consumed                                   float64
events                                             object
has_cd_unclaimed_event                             object
driver_previous_completed_trips                   float64
lead_organizer_previous_completed_trips             int64
commute_distance                                  float64
claimed_after_created                             float64
is_unfilled_canceled                                 bool
is_cd_cancel                                         bool
is_same_day_ride                                     bool
trip_predicted_raw_fare                           float64
predicted_driver_fare                             float64
predicted_driver_fare_with_multiplier             float64
driver_has_driven_this_route_before                  bool
Length: 74, dtype: object

#### pick features to use as input to prediction. here just numerics, booleans, durations, date attributes and not those from the future.
todo: object features as categorical dummies, saturate outliers in data set

In [11]:
# compute duration features
durationTuples=[('claimed_before_trip_start_secs', 'claimed_at_pdt', 'scheduled_starts_at_pdt'), 
                ('trip_created_before_trip_start_secs', 'created_at_pdt', 'scheduled_starts_at_pdt'),
                ('trip_est_duration_secs', 'scheduled_starts_at_pdt', 'scheduled_ends_at_pdt'),
                ('org_signup_before_trip_start_secs', 'lead_organizer_created_at_pdt', 'scheduled_starts_at_pdt'),
                ('driver_signup_before_trip_start_secs', 'driver_created_at_pdt', 'scheduled_starts_at_pdt'),
                ('trip_claimed_after_trip_created', 'claimed_at_pdt', 'created_at_pdt'),
                ('driver_signup_before_trip_claimed_secs', 'driver_created_at_pdt', 'claimed_at_pdt'),
                ('org_signup_before_trip_created_secs', 'lead_organizer_created_at_pdt', 'created_at_pdt'),
                ('driver_signup_before_trip_created_secs', 'driver_created_at_pdt', 'created_at_pdt'),
                ('driver_signup_before_org_signup_secs', 'driver_created_at_pdt', 'lead_organizer_created_at_pdt')
                ]

#duration_col_name, from_time, to_time = durationTuples[1]
#print (duration_col_name, from_time, to_time)
#print (df.iloc[0][[from_time, to_time]])
#print((df.iloc[0][to_time] - df.iloc[0][from_time]).total_seconds())
#df[duration_col_name] = (df[to_time] - df[from_time]).dt.total_seconds()
#df[duration_col_name].head()

for duration_col_name, from_time, to_time in durationTuples:
    print("creating %s from %s - %s" % (duration_col_name, to_time, from_time))
    df[duration_col_name] = (df[to_time] - df[from_time]).dt.total_seconds()

creating claimed_before_trip_start_secs from scheduled_starts_at_pdt - claimed_at_pdt
creating trip_created_before_trip_start_secs from scheduled_starts_at_pdt - created_at_pdt
creating trip_est_duration_secs from scheduled_ends_at_pdt - scheduled_starts_at_pdt
creating org_signup_before_trip_start_secs from scheduled_starts_at_pdt - lead_organizer_created_at_pdt
creating driver_signup_before_trip_start_secs from scheduled_starts_at_pdt - driver_created_at_pdt
creating trip_claimed_after_trip_created from created_at_pdt - claimed_at_pdt
creating driver_signup_before_trip_claimed_secs from claimed_at_pdt - driver_created_at_pdt
creating org_signup_before_trip_created_secs from created_at_pdt - lead_organizer_created_at_pdt
creating driver_signup_before_trip_created_secs from created_at_pdt - driver_created_at_pdt
creating driver_signup_before_org_signup_secs from lead_organizer_created_at_pdt - driver_created_at_pdt

In [12]:
# compute date attributes
# which dates are not from the future
# make any missing values the lowest number
date_columns_to_process=list(set(df.select_dtypes(include=['datetime64[ns]']).columns) - set(columns_from_the_future))
print(date_columns_to_process)
for col_name in date_columns_to_process:
    print("creating date attributes from %s" % col_name)
    df[col_name + "_quarter"]    = df[col_name].dt.quarter.replace([np.inf, -np.inf, np.nan], 1).astype(int)
    df[col_name + "_month"]      = df[col_name].dt.month.replace([np.inf, -np.inf, np.nan], 1).astype(int)
    df[col_name + "_day"]        = df[col_name].dt.day.replace([np.inf, -np.inf, np.nan], 1).astype(int)
    df[col_name + "_hour"]       = df[col_name].dt.hour.replace([np.inf, -np.inf, np.nan], 1).astype(int)
    df[col_name + "_weekday"]    = df[col_name].dt.weekday.replace([np.inf, -np.inf, np.nan], 0).astype(int)
    df[col_name + "_weekofyear"] = df[col_name].dt.weekofyear.replace([np.inf, -np.inf, np.nan], 1).astype(int)
    df[col_name + "_dayofyear"]  = df[col_name].dt.dayofyear.replace([np.inf, -np.inf, np.nan], 1).astype(int)

['scheduled_starts_at_pdt', 'driver_created_at_pdt', 'scheduled_ends_at_pdt', 'created_at_pdt', 'claimed_at_pdt', 'lead_organizer_created_at_pdt']
creating date attributes from scheduled_starts_at_pdt
creating date attributes from driver_created_at_pdt
creating date attributes from scheduled_ends_at_pdt
creating date attributes from created_at_pdt
creating date attributes from claimed_at_pdt
creating date attributes from lead_organizer_created_at_pdt

In [13]:
# select the date columns to make one-hot columns from
one_hot_source_columns=['scheduled_starts_at_pdt_quarter','scheduled_starts_at_pdt_month',
                        'scheduled_starts_at_pdt_hour','scheduled_starts_at_pdt_weekday',
                        'claimed_at_pdt_quarter','claimed_at_pdt_month',
                        'claimed_at_pdt_hour','claimed_at_pdt_weekday'
                       ]
print(one_hot_source_columns)

['scheduled_starts_at_pdt_quarter', 'scheduled_starts_at_pdt_month', 'scheduled_starts_at_pdt_hour', 'scheduled_starts_at_pdt_weekday', 'claimed_at_pdt_quarter', 'claimed_at_pdt_month', 'claimed_at_pdt_hour', 'claimed_at_pdt_weekday']

In [14]:
# create date one-hot features from those columns
# added drop_first=True to avoid co-linearity
date_dummies = pd.get_dummies(df[one_hot_source_columns],
                              columns=one_hot_source_columns,
                              prefix=one_hot_source_columns,
                              drop_first=True)
date_dummies.head()

,scheduled_starts_at_pdt_quarter_2,scheduled_starts_at_pdt_quarter_3,scheduled_starts_at_pdt_quarter_4,scheduled_starts_at_pdt_month_2,scheduled_starts_at_pdt_month_3,scheduled_starts_at_pdt_month_4,scheduled_starts_at_pdt_month_5,scheduled_starts_at_pdt_month_6,scheduled_starts_at_pdt_month_7,scheduled_starts_at_pdt_month_8,...,claimed_at_pdt_hour_20,claimed_at_pdt_hour_21,claimed_at_pdt_hour_22,claimed_at_pdt_hour_23,claimed_at_pdt_weekday_1,claimed_at_pdt_weekday_2,claimed_at_pdt_weekday_3,claimed_at_pdt_weekday_4,claimed_at_pdt_weekday_5,claimed_at_pdt_weekday_6
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [15]:
date_dummies.columns

Index(['scheduled_starts_at_pdt_quarter_2',
       'scheduled_starts_at_pdt_quarter_3',
       'scheduled_starts_at_pdt_quarter_4', 'scheduled_starts_at_pdt_month_2',
       'scheduled_starts_at_pdt_month_3', 'scheduled_starts_at_pdt_month_4',
       'scheduled_starts_at_pdt_month_5', 'scheduled_starts_at_pdt_month_6',
       'scheduled_starts_at_pdt_month_7', 'scheduled_starts_at_pdt_month_8',
       'scheduled_starts_at_pdt_month_9', 'scheduled_starts_at_pdt_month_10',
       'scheduled_starts_at_pdt_month_11', 'scheduled_starts_at_pdt_month_12',
       'scheduled_starts_at_pdt_hour_1', 'scheduled_starts_at_pdt_hour_2',
       'scheduled_starts_at_pdt_hour_3', 'scheduled_starts_at_pdt_hour_4',
       'scheduled_starts_at_pdt_hour_5', 'scheduled_starts_at_pdt_hour_6',
       'scheduled_starts_at_pdt_hour_7', 'scheduled_starts_at_pdt_hour_8',
       'scheduled_starts_at_pdt_hour_9', 'scheduled_starts_at_pdt_hour_10',
       'scheduled_starts_at_pdt_hour_11', 'scheduled_starts_at_pdt_hour_12',
       'scheduled_starts_at_pdt_hour_13', 'scheduled_starts_at_pdt_hour_14',
       'scheduled_starts_at_pdt_hour_15', 'scheduled_starts_at_pdt_hour_16',
       'scheduled_starts_at_pdt_hour_17', 'scheduled_starts_at_pdt_hour_18',
       'scheduled_starts_at_pdt_hour_19', 'scheduled_starts_at_pdt_hour_20',
       'scheduled_starts_at_pdt_hour_21', 'scheduled_starts_at_pdt_hour_22',
       'scheduled_starts_at_pdt_hour_23', 'scheduled_starts_at_pdt_weekday_1',
       'scheduled_starts_at_pdt_weekday_2',
       'scheduled_starts_at_pdt_weekday_3',
       'scheduled_starts_at_pdt_weekday_4',
       'scheduled_starts_at_pdt_weekday_5',
       'scheduled_starts_at_pdt_weekday_6', 'claimed_at_pdt_quarter_2',
       'claimed_at_pdt_quarter_3', 'claimed_at_pdt_quarter_4',
       'claimed_at_pdt_month_2', 'claimed_at_pdt_month_3',
       'claimed_at_pdt_month_4', 'claimed_at_pdt_month_5',
       'claimed_at_pdt_month_6', 'claimed_at_pdt_month_7',
       'claimed_at_pdt_month_8', 'claimed_at_pdt_month_9',
       'claimed_at_pdt_month_10', 'claimed_at_pdt_month_11',
       'claimed_at_pdt_month_12', 'claimed_at_pdt_hour_1',
       'claimed_at_pdt_hour_2', 'claimed_at_pdt_hour_3',
       'claimed_at_pdt_hour_4', 'claimed_at_pdt_hour_5',
       'claimed_at_pdt_hour_6', 'claimed_at_pdt_hour_7',
       'claimed_at_pdt_hour_8', 'claimed_at_pdt_hour_9',
       'claimed_at_pdt_hour_10', 'claimed_at_pdt_hour_11',
       'claimed_at_pdt_hour_12', 'claimed_at_pdt_hour_13',
       'claimed_at_pdt_hour_14', 'claimed_at_pdt_hour_15',
       'claimed_at_pdt_hour_16', 'claimed_at_pdt_hour_17',
       'claimed_at_pdt_hour_18', 'claimed_at_pdt_hour_19',
       'claimed_at_pdt_hour_20', 'claimed_at_pdt_hour_21',
       'claimed_at_pdt_hour_22', 'claimed_at_pdt_hour_23',
       'claimed_at_pdt_weekday_1', 'claimed_at_pdt_weekday_2',
       'claimed_at_pdt_weekday_3', 'claimed_at_pdt_weekday_4',
       'claimed_at_pdt_weekday_5', 'claimed_at_pdt_weekday_6'],
      dtype='object')

In [16]:
df = pd.concat([df, date_dummies], axis=1)
df.head()

,id,trip_state,canceled_by,canceled_at_pdt,canceled_before_scheduled_start,claimed_at_pdt,driver_id,lead_organizer_id,creator_id,carpool,...,claimed_at_pdt_hour_20,claimed_at_pdt_hour_21,claimed_at_pdt_hour_22,claimed_at_pdt_hour_23,claimed_at_pdt_weekday_1,claimed_at_pdt_weekday_2,claimed_at_pdt_weekday_3,claimed_at_pdt_weekday_4,claimed_at_pdt_weekday_5,claimed_at_pdt_weekday_6
0,367322,canceled,Employee,2017-03-08 13:18:55,18.68,2017-03-08 13:16:39,62908.0,87303,87303,False,...,0,0,0,0,0,1,0,0,0,0
1,492666,canceled,Employee,2017-09-11 09:09:43,0.84,2017-08-31 12:33:50,62930.0,78527,78527,False,...,0,0,0,0,0,0,1,0,0,0
2,527985,canceled,Employee,2017-09-27 14:02:52,1.07,2017-09-27 13:59:44,62930.0,78527,78527,False,...,0,0,0,0,0,1,0,0,0,0
3,415557,canceled,Employee,2017-05-22 13:47:32,7.47,2017-05-22 13:18:52,62930.0,131139,131139,False,...,0,0,0,0,0,0,0,0,0,0
4,317210,canceled,Employee,2017-01-18 10:14:22,95.76,2017-01-18 10:12:03,62966.0,101326,101326,False,...,0,0,0,0,0,1,0,0,0,0

In [17]:
# confirm added 275 more features
df.shape

(217348, 212)

In [18]:
df.dtypes

id                                          int64
trip_state                                 object
canceled_by                                object
canceled_at_pdt                    datetime64[ns]
canceled_before_scheduled_start           float64
claimed_at_pdt                     datetime64[ns]
driver_id                                 float64
lead_organizer_id                           int64
creator_id                                  int64
carpool                                      bool
is_repeating_ride                            bool
shuttle                                      bool
trip_template_id                          float64
departs_for_trip_at_pdt            datetime64[ns]
time_anchor                                object
created_at_pdt                     datetime64[ns]
scheduled_starts_at_pdt            datetime64[ns]
scheduled_ends_at_pdt              datetime64[ns]
origin_arrived_at_pdt              datetime64[ns]
origin_departed_at_pdt             datetime64[ns]
destination_arrived_at_pdt         datetime64[ns]
origin_location_id                        float64
destination_location_id                   float64
origin_region_id                          float64
origin_analysis_metro_name                 object
destination_region_id                     float64
destination_region_name                    object
origin_region_name                         object
origin_metro_area_name                     object
destination_metro_area_name                object
                                        ...
claimed_at_pdt_month_12                     uint8
claimed_at_pdt_hour_1                       uint8
claimed_at_pdt_hour_2                       uint8
claimed_at_pdt_hour_3                       uint8
claimed_at_pdt_hour_4                       uint8
claimed_at_pdt_hour_5                       uint8
claimed_at_pdt_hour_6                       uint8
claimed_at_pdt_hour_7                       uint8
claimed_at_pdt_hour_8                       uint8
claimed_at_pdt_hour_9                       uint8
claimed_at_pdt_hour_10                      uint8
claimed_at_pdt_hour_11                      uint8
claimed_at_pdt_hour_12                      uint8
claimed_at_pdt_hour_13                      uint8
claimed_at_pdt_hour_14                      uint8
claimed_at_pdt_hour_15                      uint8
claimed_at_pdt_hour_16                      uint8
claimed_at_pdt_hour_17                      uint8
claimed_at_pdt_hour_18                      uint8
claimed_at_pdt_hour_19                      uint8
claimed_at_pdt_hour_20                      uint8
claimed_at_pdt_hour_21                      uint8
claimed_at_pdt_hour_22                      uint8
claimed_at_pdt_hour_23                      uint8
claimed_at_pdt_weekday_1                    uint8
claimed_at_pdt_weekday_2                    uint8
claimed_at_pdt_weekday_3                    uint8
claimed_at_pdt_weekday_4                    uint8
claimed_at_pdt_weekday_5                    uint8
claimed_at_pdt_weekday_6                    uint8
Length: 212, dtype: object

In [19]:
# which booleans are not from the future
bool_columns_to_convert=list(set(df.select_dtypes(include=['bool']).columns) - set(columns_from_the_future))
print(bool_columns_to_convert)

['is_affiliate', 'is_same_day_ride', 'shuttle', 'is_repeating_ride', 'driver_has_driven_this_route_before', 'carpool']

In [20]:
##df[bool_columns_to_convert].astype(int).head()
bool_columns_as_int_names=[s + "_int" for s in bool_columns_to_convert]
# create new int columns containing 1,0 from bool columns which are True,False
df[bool_columns_as_int_names] = df[bool_columns_to_convert].astype(int)
df[bool_columns_as_int_names].head()

,is_affiliate_int,is_same_day_ride_int,shuttle_int,is_repeating_ride_int,driver_has_driven_this_route_before_int,carpool_int
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,0,0,0,0,0

In [21]:
feature_columns_to_use=list(set(df.select_dtypes(include=['number']).columns) - set(columns_from_the_future))
print(feature_columns_to_use)

['scheduled_ends_at_pdt_weekday', 'scheduled_starts_at_pdt_month_7', 'claimed_at_pdt_weekday_3', 'trip_predicted_raw_fare', 'scheduled_starts_at_pdt_hour_7', 'total_predicted_distance_miles', 'driver_signup_before_trip_created_secs', 'scheduled_starts_at_pdt_hour_2', 'scheduled_starts_at_pdt_day', 'scheduled_ends_at_pdt_hour', 'organizers_count', 'claimed_at_pdt_month_4', 'driver_created_at_pdt_hour', 'claimed_at_pdt_quarter_4', 'driver_created_at_pdt_weekofyear', 'claimed_at_pdt_hour_22', 'is_same_day_ride_int', 'origin_lat', 'route_legs_count', 'scheduled_starts_at_pdt_month_3', 'lead_organizer_created_at_pdt_weekofyear', 'driver_signup_before_org_signup_secs', 'scheduled_starts_at_pdt_month_12', 'claimed_at_pdt_hour', 'claimed_at_pdt_weekday_2', 'lead_organizer_id', 'scheduled_starts_at_pdt_hour_21', 'claimed_at_pdt_month_12', 'claimed_before_trip_start_secs', 'scheduled_starts_at_pdt_month_4', 'scheduled_starts_at_pdt_month_6', 'driver_created_at_pdt_day', 'claimed_at_pdt_hour_23', 'scheduled_starts_at_pdt_month_9', 'shuttle_int', 'scheduled_starts_at_pdt_month_5', 'created_at_pdt_month', 'scheduled_starts_at_pdt_hour_20', 'scheduled_starts_at_pdt_quarter_3', 'scheduled_starts_at_pdt_weekday_1', 'claimed_at_pdt_hour_3', 'scheduled_starts_at_pdt_hour_4', 'driver_created_at_pdt_month', 'driver_created_at_pdt_weekday', 'org_signup_before_trip_created_secs', 'created_at_pdt_weekofyear', 'claimed_at_pdt_weekday_1', 'scheduled_ends_at_pdt_dayofyear', 'claimed_at_pdt_month_10', 'claimed_at_pdt_hour_5', 'scheduled_starts_at_pdt_hour_6', 'lead_organizer_previous_completed_trips', 'org_signup_before_trip_start_secs', 'scheduled_ends_at_pdt_quarter', 'created_at_pdt_quarter', 'destination_lon', 'scheduled_ends_at_pdt_weekofyear', 'scheduled_starts_at_pdt_weekofyear', 'scheduled_starts_at_pdt_hour_1', 'claimed_at_pdt_hour_8', 'scheduled_ends_at_pdt_day', 'organizer_home_lon', 'claimed_at_pdt_weekday_6', 'lead_organizer_created_at_pdt_day', 'scheduled_starts_at_pdt_weekday_3', 'destination_lat', 'driver_home_lat', 'organizer_home_lat', 'claimed_at_pdt_hour_14', 'claimed_at_pdt_hour_21', 'scheduled_starts_at_pdt_hour_8', 'lead_organizer_created_at_pdt_dayofyear', 'driver_has_driven_this_route_before_int', 'is_affiliate_int', 'claimed_at_pdt_quarter', 'lead_organizer_created_at_pdt_month', 'trip_claimed_after_trip_created', 'lead_organizer_created_at_pdt_weekday', 'scheduled_starts_at_pdt_hour_13', 'scheduled_starts_at_pdt_weekday_5', 'is_repeating_ride_int', 'claimed_at_pdt_hour_1', 'created_at_pdt_hour', 'driver_created_at_pdt_dayofyear', 'lead_organizer_created_at_pdt_quarter', 'claimed_at_pdt_hour_18', 'claimed_at_pdt_weekday_4', 'scheduled_starts_at_pdt_quarter_2', 'scheduled_starts_at_pdt_weekday_6', 'created_at_pdt_day', 'driver_previous_completed_trips', 'passengers_count', 'claimed_at_pdt_hour_16', 'scheduled_starts_at_pdt_month', 'scheduled_starts_at_pdt_month_2', 'claimed_at_pdt_hour_9', 'scheduled_starts_at_pdt_hour_14', 'claimed_at_pdt_quarter_3', 'claimed_at_pdt_hour_15', 'scheduled_starts_at_pdt_quarter', 'claimed_at_pdt_hour_10', 'scheduled_starts_at_pdt_weekday_4', 'claimed_at_pdt_hour_6', 'claimed_at_pdt_dayofyear', 'id', 'scheduled_starts_at_pdt_hour_11', 'trip_est_duration_secs', 'scheduled_starts_at_pdt_hour_17', 'claimed_at_pdt_month_2', 'claimed_at_pdt_month_7', 'driver_home_lon', 'driver_id', 'scheduled_starts_at_pdt_hour', 'scheduled_starts_at_pdt_quarter_4', 'scheduled_starts_at_pdt_hour_3', 'scheduled_starts_at_pdt_month_11', 'claimed_at_pdt_hour_13', 'claimed_at_pdt_hour_19', 'destination_location_id', 'claimed_after_created', 'claimed_at_pdt_hour_7', 'scheduled_ends_at_pdt_month', 'claimed_at_pdt_month_11', 'claimed_at_pdt_day', 'scheduled_starts_at_pdt_hour_18', 'driver_created_at_pdt_quarter', 'claimed_at_pdt_hour_11', 'scheduled_starts_at_pdt_hour_12', 'scheduled_starts_at_pdt_dayofyear', 'scheduled_starts_at_pdt_hour_22', 'origin_region_id', 'claimed_at_pdt_hour_4', 'scheduled_starts_at_pdt_month_8', 'driver_signup_before_trip_claimed_secs', 'claimed_at_pdt_month_6', 'scheduled_starts_at_pdt_hour_16', 'scheduled_starts_at_pdt_weekday_2', 'scheduled_starts_at_pdt_hour_9', 'trip_created_before_trip_start_secs', 'created_at_pdt_dayofyear', 'claimed_at_pdt_month_9', 'predicted_driver_fare', 'claimed_at_pdt_month', 'scheduled_starts_at_pdt_hour_15', 'trip_template_id', 'claimed_at_pdt_weekday', 'origin_location_id', 'created_at_pdt_weekday', 'origin_lon', 'claimed_at_pdt_hour_17', 'driver_signup_before_trip_start_secs', 'scheduled_starts_at_pdt_hour_5', 'scheduled_starts_at_pdt_hour_23', 'claimed_at_pdt_month_8', 'creator_id', 'claimed_at_pdt_month_5', 'coupon_consumed', 'claimed_at_pdt_weekday_5', 'carpool_int', 'scheduled_starts_at_pdt_hour_19', 'scheduled_starts_at_pdt_weekday', 'claimed_at_pdt_month_3', 'claimed_at_pdt_weekofyear', 'lead_organizer_created_at_pdt_hour', 'scheduled_starts_at_pdt_hour_10', 'claimed_at_pdt_hour_20', 'claimed_at_pdt_hour_12', 'destination_region_id', 'scheduled_starts_at_pdt_month_10', 'total_predicted_duration', 'claimed_at_pdt_quarter_2', 'claimed_at_pdt_hour_2']

#### compute arrived_late label, ah should be 5 min late. At 0 seconds, 9% of trips are "late"!

In [22]:
# note this is just for testing, the real calc is below see "materialize the prediction target"
arrival_time_df=df[['id','scheduled_starts_at_pdt','origin_arrived_at_pdt']]
arrival_time_df.shape
arrival_time_df=arrival_time_df.assign(
    arrived_seconds_after_scheduled_start=lambda x:
        (x['origin_arrived_at_pdt'] - x['scheduled_starts_at_pdt']).dt.total_seconds().clip(-1800,1800)
)

# show number of nulls
arrival_time_df.isnull().sum()

id                                           0
scheduled_starts_at_pdt                      0
origin_arrived_at_pdt                    91673
arrived_seconds_after_scheduled_start    91673
dtype: int64

In [23]:
arrival_time_df.dropna().shape

(125675, 4)

In [24]:
arrival_time_df.dropna().hist(column='arrived_seconds_after_scheduled_start',bins=np.linspace(-1800,1800,60),grid=False)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x1100139e8>]],
      dtype=object)

In [25]:
# arrives 7 minutes early on average partially due to saturation
arrival_time_df[['arrived_seconds_after_scheduled_start']].dropna().mean()/60

arrived_seconds_after_scheduled_start   -6.93286
dtype: float64

In [26]:
# most often arrives 30 minutes early because of saturation!
arrival_time_df[['arrived_seconds_after_scheduled_start']].dropna().mode()/60

   arrived_seconds_after_scheduled_start
0                                  -30.0

In [27]:
# show rows and label to verify logic
# arrived_late_df[arrived_late_df['label']].head # version where label is TRUE
arrival_time_df.head()

,id,scheduled_starts_at_pdt,origin_arrived_at_pdt,arrived_seconds_after_scheduled_start
0,367322,2017-03-09 08:00:00,NaT,NaN
1,492666,2017-09-11 10:00:00,NaT,NaN
2,527985,2017-09-27 15:07:00,NaT,NaN
3,415557,2017-05-22 21:16:00,NaT,NaN
4,317210,2017-01-22 10:00:00,NaT,NaN

In [28]:
# features look ok, contain some NaNs
df[feature_columns_to_use].head()

,scheduled_ends_at_pdt_weekday,scheduled_starts_at_pdt_month_7,claimed_at_pdt_weekday_3,trip_predicted_raw_fare,scheduled_starts_at_pdt_hour_7,total_predicted_distance_miles,driver_signup_before_trip_created_secs,scheduled_starts_at_pdt_hour_2,scheduled_starts_at_pdt_day,scheduled_ends_at_pdt_hour,...,claimed_at_pdt_weekofyear,lead_organizer_created_at_pdt_hour,scheduled_starts_at_pdt_hour_10,claimed_at_pdt_hour_20,claimed_at_pdt_hour_12,destination_region_id,scheduled_starts_at_pdt_month_10,total_predicted_duration,claimed_at_pdt_quarter_2,claimed_at_pdt_hour_2
0,3,0,0,NaN,0,1.0,21333580.0,0,9,8,...,10,20,0,0,0,25.0,0,13.75,0,0
1,0,0,1,16.00,0,0.0,36535721.0,0,11,10,...,35,19,1,0,1,33.0,0,6.72,0,0
2,2,0,0,16.00,0,0.0,38875396.0,0,27,15,...,39,19,0,0,0,33.0,0,4.67,0,0
3,0,0,0,22.11,0,9.0,27813694.0,0,22,21,...,21,14,0,0,0,34.0,0,18.90,1,0
4,6,0,0,16.00,0,2.0,17088930.0,0,22,10,...,3,14,1,0,0,36.0,0,15.82,0,0

In [29]:
# hmmm too many NaNs
df[feature_columns_to_use].dropna().shape

(64, 172)

In [30]:
# replace NaNs with 0s, although another solution for missing latlons is probably better
df[feature_columns_to_use].fillna(0).shape

(217348, 172)

In [31]:
# eliminate rows where on-time arrival cannot be computed (canceled before arrival, possibly filled).
df.loc[df['origin_arrived_at_pdt'].notnull()].shape

(125675, 218)

In [32]:
# how many observations of each final state do we have left where on-time arrival can be labeled
df.loc[df['origin_arrived_at_pdt'].notnull()].groupby(['trip_state']).size()

trip_state
canceled      1529
complete    124146
dtype: int64

In [33]:
# how many are filled; all should be but 1 wierd trip arrived with no driver! 
# chaotic race condition when scheduled start time approaching, cancel by organizer, removing driver, and driver arriving 
# It will be filled with 0 which is ok.
df.loc[df['origin_arrived_at_pdt'].notnull()].groupby(['trip_state',df.driver_id.notnull()]).size()

trip_state  driver_id
canceled    False             1
            True           1528
complete    True         124146
dtype: int64

In [34]:
# materialize the useful dataset for training and testing
df_X=df.loc[df['origin_arrived_at_pdt'].notnull()][feature_columns_to_use].fillna(0)
df_X.shape

(125675, 172)

In [35]:
# materialize the prediction target (arrived_seconds_after_scheduled_start)
y=(df.loc[df['origin_arrived_at_pdt'].notnull()].origin_arrived_at_pdt 
   - df.loc[df['origin_arrived_at_pdt'].notnull()].scheduled_starts_at_pdt).dt.total_seconds().clip(-1800,1800)

# describe and convert from scientific notation
y.describe().apply(lambda x: '%.0f' % x)

count    125675
mean       -416
std         509
min       -1800
25%        -657
50%        -324
75%         -96
max        1800
dtype: object

In [36]:
# write out features (df_X) and targets (y) into files
fileprefix='./lateness_PREP_V8_'
df_X.to_csv(fileprefix+'X.csv', sep='\t')

In [37]:
y.to_csv(path=fileprefix+'y.csv', sep='\t')

In [38]:
y.shape

(125675,)

In [39]:
y.head()

5   -497.0
6      5.0
7   -313.0
8   -296.0
9   -166.0
dtype: float64